---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$z-index-header: 100;
$z-index-title: 50;
//
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;
$small-line-height: 1;
$large-font-size: 1.5em;
$header-height: $large-font-size + 2em;
$title-font-size: 4em;

$spacing-unit:     30px;

$text-color:       white;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);
$white-color-low-opacity: rgba(255, 255, 255, 0.4);
$white: white;
$maroon-color:     #301205;

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;
$on-small-desktop: 1020px;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "bourbon/bourbon",
        "neat/neat",
        "fonts",
        "mixins",
        "base",
        "layout",
        "syntax-highlighting",
        "header",
        "home",
        "about",
        "food",
        "menu",
        "contact"
;
