<div id="about" class="about section">
    <div class="title about--title">
        <div>The</div>
        <div class="title--main">Pitmaster</div>
    </div>
    <div class="about--main-wrapper">
        <div class="about--image-wrapper">
            <img class="about--image" src="/images/daryl-image.png" alt="bbq artist Daryl Robinson" />
        </div>
        <div class="about--text">
            <p>
                Daryl "Smokey" Robinson, proprietor and pitmaster of Smokey Robinson's BBQ, will never compromise on fresh ingredients, craftmanship, and true American BBQ tradition.
            </p>
            <p>
                That's why Smokey sources local, direct from farm to grill raised meats.
            </p>
            <p>
                That's why Smokey frequently travels to back country Wisconsin, where he hand selects his creative, proprietary blend of spices straight from the source that's as raw and organic as it gets - Amish grown.
            </p>
            <p>
                When it comes to wood, Smokey has a well thought out perspective. Burn lots of it. Low and slow. Sadly most BBQ restaurants use lots of propane to keep the heat and a little wood for a smoke effect. It is lower cost and pumps more food out, but its not the real thing. Smokey's BBQ is always smoked over real wood, as long as it takes. No propane. No shortcuts.
            </p>
        </div>
    </div>
</div>
