<header class="header-wrapper">
    <nav class="nav" role="nav">
        <ul>
            {% for page in site.sections %}
            <li>
                <a href="#{{ page.title }}">{{ page.title | upcase}}</a>
            </li>
            {%  endfor %}
        </ul>
    </nav>
    <span class="header--contact-links">
        <a href="#"><img src="{{ site.contact.facebook.black }}" alt="facebook link" /></a>
        <a href="#"><img src="{{ site.contact.mail.black }}" alt="mail link" /></a>
    </span>
</header>
