<div id="menu" class="menu section">
    <div class="title menu--title">
        <div>The</div>
        <div class="title--main">Menu</div>
    </div>
    <div class="menu--main-wrapper">
        <div class="menu--white-stripe"></div>
        <div class="menu--text-wrapper">
            <table class="menu--meat-items">
                <tr class="menu--birds">
                    <td class="menu--birds-title">Birds</td>
                    <td class="menu--birds-image">
                        <img src="/images/menu/chicken.png" alt="" />
                    </td>
                    <td class="menu--birds-items">
                        <div class="">Whole Turkey</div>
                        <div class="">Whole Chicken</div>
                        <div class="">Pulled Chicken</div>
                    </td>
                    <td>
                        <div class="">$50 Each</div>
                        <div class="">$15 Each</div>
                        <div class="">$12 LB</div>
                    </td>
                </tr>
                <tr class="menu--cows">
                    <td class="menu--cows-title">Cows</td>
                    <td class="menu--cows-image">
                        <img src="/images/menu/cow.png" alt="" />
                    </td>
                    <td class="menu--cows-items">
                        <div class="">Spare Ribs</div>
                        <div class="">Tri Tip</div>
                    </td>
                    <td>
                        <div class="">$20 Each</div>
                        <div class="">$12 LB</div>
                    </td>
                </tr>
                <tr class="menu--pigs">
                    <td class="menu--pigs-title">Pigs</td>
                    <td class="menu--pigs-image">
                        <img src="/images/menu/pig.png" alt="" />
                    </td>
                    <td class="menu--pigs-items">
                        <div class="">Pulled Pork</div>
                        <div class="">Hot Links</div>
                    </td>
                    <td>
                        <div class="">$15 Each</div>
                        <div class="">$12 LB</div>
                    </td>
                </tr>
            </table>
            <div class="menu--information">
                <div class="">
                    <span>{</span>
                    <span>Turkey and Chicken are brined 12 hours, all meat is slow smoked over apple or oak split logs</span>
                    <span>}</span>
                </div>
                <p><strong>Menu is pickup only from Lakewood CA.</strong></p>
                <p class="">Contact us about more menu items. Custom pricing and onsite cooking available for catering events for over 50 people.</p>
                <p>Holiday and special events will be advertised on our facebook page: smokeyrobinsonsbbq</p>
                <img alt="facebook.com/smokeyrobinsonsbbq" />
            </div>
        </div>
    </div>

</div>
