.about {
    @include background-image('/images/about-bg-img-lg.png');
}

.about--title {
    position: absolute;
    top: 120px;
    left: 20%;
}

.about--image-wrapper {
    @include span-columns(5);

    img {
        margin-top: -150px;
    }
}

.about--text {
    @include span-columns(7);
    @include pad(0 default);

    padding-left: 0;
    margin-top: 50px;
}

.about--header {
    height: 250px;
}

.about--main-wrapper {
    @include row();
    background: $maroon-color;
}
