.about {
    @include background-image('/images/about-bg-img-lg.png');
    padding-top: 7%;
}

.about--title {
    margin-left: 17%;
}

.about--image-wrapper {
    @include span-columns(5);
    @include omega();

    img {
        margin-top: -150px;
    }
}

.about--text {
    @include span-columns(7);
    @include omega();
    @include pad(0 default);

    margin-top: 50px;
}

.about--header {
    height: 250px;
}

.about--main-wrapper {
    @include row();
    @include maroon-gradient-background();

}
